@media screen and (max-width: 768px) {

    /* main */

    main {
        width: 100vw;
        height: 98.5vh;
        background: url(./src/img/bg-wave.png);
        background-position-x: 420px;
    }

    #bg1 {
        height: 250px;
        position: absolute;
        top: 280px;
    }

    #bg2 {
        height: 384px;
        position: relative;
        top: 175px;
    }

    .secmain {
        height: 83.6vh;
    }

    .textsmain {
        padding-top: 0;
        padding-right: 0;
    }

    #secmainh1 {
        font-size: 80px;
        position: absolute;
        right: 20%;
        margin-top: 5%;
    }

    .textsmain p {
        font-size: 12px;
        position: absolute;
        right: 27%;
    }

    /* side nav */

    .bttNav-side {
        height: 40px;
        position: fixed;
        top: 10px;
        right: 0;
        z-index: 1;
    }

    #bttNav-side2 {
        top: 17px;
    }

    .nav-side {
        position: fixed;
        top: 0;
        width: 250px;
        height: 350%;
    }

    .nav-side.navside-active {
        right: 140px;
    }

    #bttNav-side1.bttNav-size-act,
    #bttNav-side2.bttNav-size-act {
        z-index: 4;
        top: 5%;
        right: 32%;
    }

    #bttNav-side2.bttNav-size-act {
        top: 47px;
    }

    .fixar {
        top: 1.5%;
        height: 30px;
        right: 32%;
    }

    /* products */


    .secShopProd {
        width: 50vw;
    }
    .products {
        top: 8%;
        display: grid;
        position: relative;
        left: 10%;
        grid-template-columns: repeat(2, minmax(180px, auto));
    }

    .options {
        height: 20px;
        width: 50px;
        right: 13px;
        bottom: 10px;
    }

    .img-opts,
    .text1 {
        bottom: 8px;
        height: 15px;
    }

    .img-opts1 {
        height: 15px;
        bottom: 18px;
        padding-right: 92px;
    }

    .imgsprod {
        height: 150px;
    }

    .product-box {
        height: 230px;
        width: 180px;
        margin-left: 40%;
    }

    .tith1 {
        font-size: 40px;
        margin-left: 50%;
    }


    .prodh2,
    .price {
        font-size: 13px;
    }

    .navimgs,
    .menulink,
    #bttSP,
    .scmedia {
        display: none;
    }

}